# Dependencies
node_modules/

# Build files
build/

# IDE
.DS_Store
.vscode/
.idea/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local

# Truffle
.secret

